<div class="row" data-ng-controller="ClientController">
  <div class="form-group">
    <input type="text" class="form-control" id="clientsearch" placeholder="Search clients" data-ng-model="clientsearch" />
  </div>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Title</th>
        <th>ABN SLA</th>
        <th>AFT SLA</th>
        <th>ASA SLA</th>
        <th>TTA SLA</th>
        <th>No panel</th>
        <th>No SLA</th>
        <th>Associated screen</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="client in clients | filter:clientsearch">
        <td>{{client.clientName}}</td>
        <td>{{client.abnSla}}</td>
        <td>{{client.aftSla}}</td>
        <td>{{client.asaSla}}</td>
        <td>{{client.ttaSla}}</td>
        <td>{{client.noPanel}}</td>
        <td>{{client.noSLA}}</td>
        <td>{{client.screen.title}}</td>
        <td>
            <button class="btn btn-small" ng-click="editClient(client)">Edit</button>
            <button class="btn btn-small" ng-click="deleteClient(client)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button ng-click="addClient()" class="btn btn-primary">Add Client</button>
  </div>
</div>
